@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* header part start */
.container{
    width: 83%;
    max-width: 1320px;
}
.image{
    width: 100%;
    height: 600px;
    margin: 50px auto;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url(../resources/banner.png);
    border-radius: 15px;
    background-repeat: no-repeat;
}
.image.content{
    position: relative;
    color: #FFF;
    text-align: center;
}
.content p{
    font-size: 28px;
    font-weight: 400;
    padding-top: 177px;
}
.content h2{
    width: 632px;
    color: #FFF;
    text-align: center;
    font-size: 65px;
    font-weight: 900;
    margin: 15px auto;
}
/* header part end */

/* main part 1 start */
.offer-text{
    width: 100vw;
}
.offer{
    color: #F00;
    text-align: center;
    font-size: 68px;
    font-weight: 700;
}
.offer-msg{
    color: #F00;
    text-align: center;
    font-size: 19px;
    margin-top: 35px;
}
.offer-catagory{
    color: #070211;
    font-size: 39px;
    font-weight: 700;
    text-align: center;
    margin-top: 16px;
}

.off-img{
    display: block;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
/* main part 1 end */

.container.bg-image{
    width: 100%;
    height: 600px;
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(../resources/Vectorrr.png);
    background-repeat: no-repeat;
    border-radius: 16px;
    margin: 0px auto;
    margin-top: 25px;
}
.party-content{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-around;
}
.party-title{
    width: 533px;
    color: #ebe1e1;
    font-size: 53px;
    font-weight: 900;
    margin-left: 50px;
    margin-top: 90px;
}
.party-text{
    width: 578px;
    margin-top: 18px;
    color: #FFF;
    font-size: 16px;
    margin-left: 50px;
    margin-top: 30px;
   
}
.btn-party, .btn-last{
    margin-left: 50px;
    margin-top: 30px;
    border: none;
    font-size: 20px;
    border-radius: 5px;
    margin-top: 18px;
    padding: 10px;
    font-weight: 700;
    color: #FFF;
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    text-transform: uppercase;
}
.new-pic{
    display: flex;
    width: 100%;
    height: 464.662px;
    margin-top: 65px;
    margin-left: 25px;
    margin-right: auto;
    background-image: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container.place-party{
    width: 100%;
    height: 482px;
    background: rgba(226, 130, 130, 0.1);
    margin: 70px auto;
    border-radius: 16px;
}
.place-content{
    margin-top: 5%;
}
.address{
  width: 550px;
  height: 168px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px auto;
  padding-top: 50px;
  position: relative;
  top: 5rem;
}

.address p{
    color: #070211;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: 45px;
    text-transform: capitalize;
}
.address p span{
    color: #F00;
    text-align: center;
    font-size: 26px;
    font-weight: 600;
    line-height: 45px; 
    text-transform: capitalize;
}
button{
  padding: 15px;
  border-radius: 10px;
  border: none;
  background-color: #F00;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 700;
  color: #FFF;
  text-transform: uppercase;
}
button:hover{
    background-color: rgb(108, 190, 190);
    color: #070211;
    transition: 2s;
}

.container.new-promo{
    width: 100%;
    height: 735px;
    background-color: #fff;
    border-radius: none;
    margin: 50px auto;
}
.promo-details{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 10rem;
}
h5{
    color: #F00;
    font-size: 16px;
    font-weight: 500;
}
h2{
    color: #070211;
    font-size: 40px;
    font-weight: 900;
    text-transform: capitalize;
}

.pro-cel1{
    width: 393px;
    padding-top: 5px;
    color: rgba(7, 2, 17, 0.60);
    font-size: 17px;
    font-weight: 400;
}

.celebretion{
    width: 100%;
    max-width: 463px;
}

.celebretion img{
    width: 385px;
    border: 15px solid #F00;
    border-radius: 50%;
    border-spacing: 50px;
}
.promo-dis3{
   margin: 50px auto;
}
h3{
    color: #F00;
    text-align: left;
    font-size: 39px;
    font-weight: 700;
    margin-top: 40%;
}
.pro-celeb{
    width: 276px;
    color: rgba(7, 2, 17, 0.60);
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
}

.promo-dis3 img{ 
   width: 50%;
   margin-right: 140px;
}
/* portfolio section style */
.container .portfolio{
    width: 100%;
    height: 600px;
    background: rgba(226, 130, 130, 0.1);
    border-radius: 16px;
}

.portfolio{
   width: 100%;
   height: auto;
   margin: 20px auto;
}
.text-heading{
    color: #F00;
    font-size: 19px;
    font-weight: 500;
}
.text-dis{
    color: #070211;
    font-size: 39px;
    font-weight: 900;
    text-transform: capitalize;
}

.d-content{
    width: 896px;
    color: rgba(7, 2, 17, 0.60);
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; 
}
.pfolio-image,.pfolio-image2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.p-image1{
    width: 420px;
    height: 400px;
}

/* footer part start*/

footer{
    background-color:#070211;
    width: 1600px;
    margin: 20px auto;
}

.container.foot{
    width: 100%;
    height: 600px;
    margin: 0 auto;
}

.contact{
    display: flex;
    align-items: center;
    color:#dac8c8;
    justify-content: space-around;
    margin: 20px auto;
}
.con-add{
    position: relative;
    right: 12rem;
    margin-top: 10rem;
    width: 311px;
    text-align: left;
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
}

.phone-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 12rem;
}
.call-to{
    width: 100%;
    max-width: 24px;
    margin: 0 auto;
}
.phone-para{
    width: 100%;
    max-width: 161px;
    height: 33px;
    margin-left: 3px;
}
.web-content{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.search-for{
    width: 100%;
    max-width: 24px;
    margin-top: 5px;
}
.line1, .line2{
    width: 100%;
    height: 0.5px;
    background: rgba(148, 114, 114, 0.15);;
}
.footer-icons{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin: 0 auto;
}
.footer-icon, .fimg{
    width: 53px;
    margin: 10px auto;
}

.footer-end{
    width: 100%;
    max-width: 1320px;
    height: 170px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: #FFF;
}
.last-para{
    position: relative;
    right: 10rem;
    text-align: left;
}
