*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather' sans-serif;
}

header{
    width: auto;
    max-width: 1600px;
    height: 100vh;
}
.banner{
    max-width: 1320px;
    height: 600px;
    background:  url("../resources/banner.png");
    margin: 0 auto;
    padding-top: 50px;
    background-size: cover;
    background-position: center;
}
.banner-title{
    text-align: center;
    color: #fefbfb;
    font-size: 32px;
    font-weight: 700;
    position: relative;
    top: 20%;
    left: auto;
}